<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create room</title>
</head>
<body>
    
    <h1>Creator : <%=creator%></h1>
    <h1>roomid : <%=roomid%></h1>
    <hr>
    <h3><%=player2%></h3>
    <h3><%=player3%></h3>
    <h3><%=player4%></h3>


</body>
</html>